@model IEnumerable<Domain.Models.File>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    @if (Model != null && Model.Any())
    {

        @foreach (var file in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 100%;">
                
                    <div class="card-body">
                        <h5 class="card-title">@file.Title&nbsp</h5>
                        <div class="mt-3">
                            <a href="/File/Download/@file.Id" class="btn btn-primary">Download</a>
                        
                        </div>
                    
                    </div>
                </div>
            </div>
        }
    }else{
        <div>
            <p>No files uploaded</p>
        </div>
    }
</div>

<div>
    <a href="File/Add" class="btn btn-primary">Add New</a>
</div>